.gin-app-grid {
  display: grid;
  grid-template-columns: repeat(12, 8, 33333333%);
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header header header header header header header header header"
    "sidebar sidebar main main main main main main main main main main"
    "footer footer footer footer footer footer footer footer footer footer footer footer";
}

.gin-general-grid {
  display: grid;
  grid-template-columns: repeat(12, 8, 33333333%);
  grid-template-rows: auto;
}
