@import "../../scss/gin-foundation";

a {
  text-decoration: none;
  color: $color__text;
  padding-bottom: $spacing__smallest;
  &:hover {
    color: $color__primary;
    border-bottom: solid $border__min $color__primary;
  }
}
